# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and virtualenv
.env
*.env
.venv/
venv/

# VS Code settings
.vscode/

# OS files
.DS_Store

# Secrets (DO NOT UPLOAD)
HF_API_KEY

